
@{
    ViewData["Title"] = "WatchDog Configuration";
    var Customers = ViewData["Customer"] as IEnumerable<SharedObjects.ValueObjects.VCustomer>;
    var Station = ViewData["Station"] as IEnumerable<SharedObjects.ValueObjects.VStation>;
}

<div class="container-fluid">
    <div class="row">

        <div class="col-md-12" style="min-height: auto !important;height: auto !important;">

            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light" style="min-height: auto !important;height: auto !important">
                <div class="portlet-title">

                    <div class="caption col-md-12">
                        <span class="caption-subject font-green-sharp bold uppercase">
                            get all
                        </span>
                    </div>
                    <div class="form-group col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Customer</label>
                        <select class="form-control" id="txt-customer-search" data-search="customer" name="customer" style="color:mediumvioletred">
                            <option value="">--Please Select--</option>
                            @foreach (var item in Customers.OrderByDescending(c => c.CustName).ToList())
                            {
                                <option value=@item.CustId>@item.CustName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Station</label>
                        <select class="form-control" id="txt-station-search" data-search="station" name="station" style="color:mediumvioletred">
                            <option value=0>--Please Select--</option>
                            @foreach (var item in Station.OrderByDescending(c => c.Station).ToList())
                            {
                                <option value=@item.StepId>@item.Station</option>
                            }
                        </select>
                    </div> 
                    <div class="form-group col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Station</label>
                        <select class="form-control" id="txt-station-search" data-search="station" name="station" style="color:mediumvioletred">
                            <option value=0>--Please Select--</option>
                            @foreach (var item in Station.OrderByDescending(c => c.Station).ToList())
                            {
                                <option value=@item.StepId>@item.Station</option>
                            }
                        </select>
                    </div>

                    <div class="form-group col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Tester Name</label>
                        <label class="control-label"></label>
                        <input id="txt-assy-search" class="form-control col-md-3" />
                    </div>
                    <div class="form-group col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Revision</label>
                        <label class="control-label"></label>
                        <input id="txt-rev-search" class="form-control col-md-3" />
                    </div>
                    <div class="form-group col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Test Script ID</label>
                        <label class="control-label"></label>
                        <input id="txt-scriptid-search" class="form-control col-md-3" />
                    </div>
                    <div class="form-group col-md-12">
                        <a class="btn btn-success" id="btn-search">Search</a>
                        @*<a class="btn btn-success" id="btn-export">Export</a>*@

                    </div>

                    <div id="tbl-content" class="table-responsive col-md-12">

                    </div>
                    <div class="pagination" id="pagination">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/js/config.js"></script>
   
}