@model List<JTSMS.Models.NumberViewModel>;

<form>
    <table class="table table-bordered table-hover table-striped table-responsive">
        <thead>
            <tr class="text-center bold">
                <th>Number</th>
                <th>Revision</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Number</td>
                    <td>@item.Revision</td>
                    <td class="text-center">
                        <button id="btn-select" type="button" class="btn green select" data-number="@item.Number" data-rev="@item.Revision">Select</button>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</form>