
@{
    ViewData["Title"] = "Get All";
    var Customers = ViewData["Customer"] as IEnumerable<SharedObjects.ValueObjects.VCustomer>;
    var Station = ViewData["Station"] as IEnumerable<SharedObjects.ValueObjects.VStation>;
    var Type = ViewData["Type"] as IEnumerable<SharedObjects.ValueObjects.VType>;
    var Platform = ViewData["Platform"] as IEnumerable<SharedObjects.ValueObjects.VPlatform>;
}

<div class="container-fluid">
    <div class="row">

        <div class="col-md-12" style="min-height: auto !important;height: auto !important;">

            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light" style="min-height: auto !important;height: auto !important">
                <div class="portlet-title">

                    <div class="caption col-md-12">
                        <span class="caption-subject font-green-sharp bold uppercase">
                            get all
                        </span>
                    </div>
                    <div class="form-group col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Customer</label>
                        <select class="form-control" id="txt-customer-search" data-search="customer" name="customer" style="color:mediumvioletred">
                           
                            @foreach (var item in Customers.OrderBy(c => c.CustName).ToList())
                            {
                                <option value=@item.CustId>@item.CustName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Station</label>
                        <select class="form-control" id="txt-station-search" data-search="station" name="station" style="color:mediumvioletred">
                            <option value=0>--Please Select--</option>
                            @foreach (var item in Station.OrderByDescending(c => c.Station).ToList())
                            {
                                <option value=@item.StationId>@item.Station</option>
                            }
                        </select>
                    </div> 
                    <div class="form-group col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Type</label>
                        <select class="form-control" id="txt-type-search" data-search="type" name="type" style="color:mediumvioletred">
                            <option value=0>--Please Select--</option>
                            @foreach (var item in Type.OrderByDescending(c => c.TypeId).ToList())
                            {
                                <option value=@item.TypeId>@item.Type</option>
                            }
                        </select>
                    </div> 
                    <div class="form-group col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Platform</label>
                        <select class="form-control" id="txt-platfrom-search" data-search="platfrom" name="platfrom" style="color:mediumvioletred">
                            <option value=0>--Please Select--</option>
                            @foreach (var item in Platform.OrderByDescending(c => c.PlatformId).ToList())
                            {
                                <option value=@item.PlatformId>@item.Platform</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Test Script ID</label>
                        <label class="control-label"></label>
                        <input id="txt-scriptid-search" class="form-control col-md-3" />
                    </div>
                    <div class="form-group col-md-12">
                        <a class="btn btn-success" id="btn-search">Search</a>
                        @*<a class="btn btn-success" id="btn-export">Export</a>*@

                    </div>

                    <div id="tbl-content" class="table-responsive col-md-12">

                    </div>
                    <div class="pagination" id="pagination">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/js/registration.js"></script>
    <script>
        function fncOnChangeStation() {
            stationId = $('#txt-station').val();
            $('#txt-route').empty();
            $('#txt-route').append($('<option>', {
                value: "",
                text: "--Please Select--"
            }));
            debugger
            $.ajax({
                type: 'get',
                url: '/Registration/DescrText',
                data: { step_ID: stationId },
                success: function (response) {
                    var data = response[2]
                    debugger
                    $.each(response, function (index, value) {
                        $('#txt-route').append($('<option>', {
                            value: value,
                            text: value
                        }));
                    })
                }
            })
        }


    </script>
}